.additionalComment {
    text-align: center;
    font-size: 1.3rem;
}

.aboutText {
    width: 73%;
}

.aboutInfo {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .aboutInfo {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
}

.bioImgStyle {
    height: 40vmin;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Custom style for about image */
.imageCaption {
    /* margin-top: 0; */
    color: #b0b0b0;
    font-family: "Inconsolata";
    vertical-align: text-top;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 200px;
    width: 100%;
}

@media all and (min-width: 200px) and (max-width: 400px) {
    .home {
        margin-bottom: 0;
    }
}

.center {
    /* margin: auto; */
    width: 80%;
}
