/* default is 16  */
/* project header is currently 1.6rem */

.homeHeader {
    font-size: 3rem;
}

/* Header for each section */
h2 {
    font-size: 2rem;
}

/* default heading for all the readable text */
p {
    font-size: 1.3rem;
}
