body {
    font-family: "Karla";
}

html {
    font-size: calc(15px + 0.390625vw);
}

.homeHeader {
    font-size: 1.6rem;
}

.smallText {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.codeComment {
    margin-top: 0;
    color: #b0b0b0;
    font-family: "Inconsolata";
    vertical-align: text-top;
}
