body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #23263a; */
    background: rgb(149, 204, 240);
    background: linear-gradient(
            180deg,
            rgba(149, 204, 240, 1) 0%,
            rgba(198, 227, 246, 1) 41%,
            rgba(249, 251, 208, 1) 100%
        )
        fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
