.section {
    /* height: 100vh; */
    width: 87%;
    /* margin: auto; */
    /* margin-top: 300px; */
}

.sectionNonCentered {
    /* width:  */
}

.media-icons {
    color: black;
    font-size: 1.5rem;
    margin-right: 8px;
}

.media-icons:hover {
    color: #1e95e3;
    transition-duration: 400ms;
}

.clickableLink {
    color: #5fb2e8;
}

.clickableLink:hover {
    color: #1e95e3;
    transition-duration: 400ms;
}

/*  */
.hoverLink {
    text-decoration: none;
    underline: none;
    color: black;
    font-weight: bold;
}

.hoverLink:hover {
    color: #5fb2e8;
    transition-duration: 400ms;
}

.listItem {
    display: inline;
    padding-left: 20px;
    /* marginleft: 20px; */
}
