.section {
    width: 87%;
    /* margin-top: 150px; */
    margin-bottom: 150px;
    /* margin-bottom: 300px; */
}

.media-icons {
    color: black;
    font-size: 1.5rem;
    margin-right: 8px;
    transition: 4s;
    /* transition: 400ms; */
}

.media-icons:hover {
    color: #1e95e3;
    transition-duration: 400ms;
    transform: translateY(-3px);
    /* transition: all 400ms easeout; */
    transition: all 4s easeout;
}

.clickableLink {
    color: #5fb2e8;
}

.clickableLink:hover {
    color: #1e95e3;
    transition-duration: 400ms;
}

/*  */
.hoverLink {
    text-decoration: none;
    underline: none;
    color: black;
    font-weight: bold;
}

.hoverLink:hover {
    color: #5fb2e8;
    transition-duration: 400ms;
}

.listItem {
    display: inline;
    padding-left: 20px;
    /* marginleft: 20px; */
}
